.cabecalho{
  display: flex;justify-content: space-between;align-items: center; padding: 30px;
}
.botaomarket{
  display: flex;justify-content: center;align-items: center; width: 63px;height: 63px;border-radius: 100%;background-color:#DC9100 ;border: none;
}
.botaofavorito{
  display: flex;justify-content: center;align-items: center; width: 67px;height: 65px; background-color: #DC4200;border: none;border-radius: 100%;box-shadow:10px 5px 5px rgba(0, 0, 255, .2)
}
.imgs
{
  display: flex;display:flex;position: relative;justify-content: center;align-items: center;top: 250px;
}
.imgcafe{
  position: absolute;top: -140px;
}
