<div class="divtexto">
  <p class="titulo">Cycas Revoluta</p>
  <p class="texto">Cycas revoluta, conhecida no Brasil como sagu-de-jardim, é uma espécie de cicadófitado género Cycas da família Cycadaceae... <a href="">read more</a></p>
</div>

<div class="caixaverde">
  <div class="imgsub">
  <div class="solzin">
    <img src="sol 1.png" alt="">
    <p class="solzintitle">
      Diariamente</p>
  </div>
  <div class="chuva">
    <img src="pingos-de-chuva 1.png" alt="">
    <p class="chuvatitle">Dia sim e dia Não</p>
  </div>
  </div>


  <div class="botoes">
  <div class="botaoverde">
    <p class="botaotexto">R$45</p>
    </div>

    <button class="botaolaranja">
      <p class="textolaranja"><img class="imglaranja" src="Group 31.png" alt="">Carrinho</p>
      </button>
    </div>
</div>
