footer{
  width: 100%; position:fixed;;bottom: 0px;background-color: #191919;border-radius: 24px 24px 0px 0px;
}
.footer{
  display: flex; justify-content: space-around;padding: 5px
}
.botao{
  background-color: #191919;border: none;
}
.botaoimg{
  width:52px ;height:52px ;
}
.botaoperfil{
  width:42px ;height:52px ;
}
