<footer style="width: 100%; position:fixed;;bottom: 0px;background-color: #191919;border-radius: 24px 24px 0px 0px;">
  <div style="display: flex; justify-content: space-around;padding: 5px ">

  <button style="background-color: #191919;border: none;"><img style="width:52px ;height:52px ;" src="shopping-cart 1.png" alt=""></button>
  <button  style="background-color: #191919;border: none;"><img style="width:52px ;height:52px ;"src="Category.png" alt=""></button>
  <button routerLink="/" style="background-color: #191919;border: none;"><img style="width:52px ;height:52px ;" src="home 1.png" alt=""></button>
  <button routerLink="/minhasplantas" style="background-color: #191919;border: none;"><img style="width:52px ;height:52px ;" src="plant-growth 1.png" alt=""></button>
  <button routerLink="/perfil" style="background-color: #191919;border: none;"><img style="width:42px ;height:52px ;" src="user 1.png" alt=""></button>
</div>
</footer>
