<footer>
  <div class="footer">

  <button routerLink="/marketplace"  class="botao"><img class="botaoimg" src="shopping-cart 1.png" alt=""></button>
  <button routerLink="/chatbot"  class="botao"><img class="botaoimg" src="Category.png" alt=""></button>
  <button routerLink="/"  class="botao"><img class="botaoimg" src="home 1.png" alt=""></button>
  <button routerLink="/minhasplantas"  class="botao"><img class="botaoimg" src="plant-growth 1.png" alt=""></button>
  <button routerLink="/perfil"  class="botao"><img class="botaoperfil" src="user 1.png" alt=""></button>
</div>
</footer>
