<main>
  <div class="imgetext">
    <div class="imgtext">
      <p class="perfil">
        Perfil
      </p>
    </div>
    <img src="Ellipse 63.png" alt="">
  </div>

  <div class="dados">
    <div class="cadastrado">
      <p class="cadastros">Nome:Paula Pereira</p>
    </div>
    <div class="cadastrado">
      <p class="cadastros">Email:Paulapereiragmail.com</p>
    </div>
    <div class="cadastrado">
      <p class="cadastros">Telefone:+55 11 9321 4214</p>
    </div>
    <div class="cadastrado">
      <p class="cadastros">Endereço:Lins Vasconcelos</p>
    </div>
    <div class="cadastrado">
      <p class="cadastros">CPF: 342.543.256-01</p>
    </div>
    <div class="cadastrado">
      <p class="cadastros">RG:56.843.539-4</p>
    </div>
  </div>
</main>
<app-footer></app-footer>
