<body style="background: linear-gradient(#F2F617,#FFFFFF,#A0F4FF);margin: 0px;font-family:'MyFont';">
<header style="display: flex;justify-content: space-between;">
  <img src="Group 225.png" alt="">
  <img src="Group 207.png" alt="">
</header>

  <main>

      <div>
        <button style="margin-left: 20px;margin-top: 80px;width: 174px;height: 71px;background-color: #DC9100;border: none;border-radius: 19px;box-shadow:10px 5px 5px rgba(0, 0, 255, .2);">
          <p style="font-weight: bold;color: #FFFFFF;font-size: 20px;">+ Adicionar</p>
          </button>
      </div>

      <div>
      <div style="position: relative;top: 270px;">
        <img style="position: absolute;top: 60px;" src="Ellipse 72.png" alt="">
        <img src="Ellipse 71.png" alt="">
      </div>
      <div style="display: flex;flex-direction: column; position: relative;justify-content: center;bottom: 120px;">
        <button routerLink="/minhasplantaspagina" style="border: none;"><img style="position: absolute;left: 115px;bottom: 220px;" src="Planta.png" alt=""></button>
        <img src="Group 224.png" alt="">
      </div>
      </div>
  </main>


  <app-footer></app-footer>
</body>
