body{
  background: linear-gradient(#F2F617,#FFFFFF,#A0F4FF);margin: 0px;font-family:'MyFont';
}
header{
  display: flex;justify-content: space-between;
}
.botao{
  margin-left: 20px;margin-top: 80px;width: 174px;height: 71px;background-color: #DC9100;border: none;border-radius: 19px;box-shadow:10px 5px 5px rgba(0, 0, 255, .2);
}
.titulobotao{
  font-weight: bold;color: #FFFFFF;font-size: 20px;
}
.chao{
  position: relative;top: 270px;
}
.chao1{
  position: absolute;top: 60px;
}
.mesa{
  display: flex;flex-direction: column; position: relative;justify-content: center;bottom: 120px;
}
.botaoplanta{
  position: absolute;left: 115px;bottom: 220px;
}
