
<body>

<header>
  <img src="Group 225.png" alt="">
  <img src="Group 207.png" alt="">
</header>

  <main>

      <div>
        <button class="botao">
          <p class="titulobotao">+ Adicionar</p>
          </button>
      </div>

      <div>
      <div class="chao">
        <img class="chao1" src="Ellipse 72.png" alt="">
        <img src="Ellipse 71.png" alt="">
      </div>

      <div class="mesa">
        <button routerLink="/minhasplantaspagina" style="border: none;"><img class="botaoplanta" src="Planta.png" alt=""></button>
        <img src="Group 224.png" alt="">
      </div>
      </div>
  </main>


  <app-footer></app-footer>
</body>
