.card{
  display: flex; margin-left: 30px;
}
.cardcinza{
  display:inline-block;margin-top: 23px
}
.cardlaranja{
  position: absolute; margin-left: 20px;
}
.cardtext{
  position: absolute; top: 760px;right: 320px;
}
.text1{
  font-weight: bold;font-size: 20px; margin: 0;color: white;
}
.text2{
  font-size: 16px;margin: 0;color: white;
}
.cardmais{
  position: absolute;left: 160px;bottom: 129px;
}
