<body>

<header>
  <div class="head">
    <button routerLink="/minhasplantas"  class="botao"><img src="Arrow 2.png" alt=""></button>
    <p class="titulo">Minhas Plantas</p>
  </div>
</header>


<main>
  <div class="nomeplanta">
    <div class="caixanome">
      <p>Caio</p>
    </div>
    <img class="janela" src="Group 38.png" alt="">
  </div>



  <div class="suporteplanta">
    <img class="planta" src="Planta.png" alt="">
    <img class="suporte" src="Group 229.png" alt="">
  </div>




  <div class="caixaverde">
    <div class="caixa">
      <div class="conteiner1">

        <div class="titulolaranja">
          <p class="reguei">Já Reguei</p>
        </div>
        <img src="drop-silhouette 1.png" class="imgverde"  alt="">

      </div>
    <div class="conteiner2">

      <div class="titulolaranja">
        <p class="reguei">Já Tomou Sol</p>
      </div>
      <img src="sun 1.png" class="imgverde" alt="">

    </div>
    </div>
  </div>


</main>
<app-footer></app-footer>
</body>
