body{
  margin: 0px; padding: 15px;font-family:'MyFont';background-color: #A1C130;
}
main{
  display: flex; background-color:rgba(0, 0, 0, 0.55);; width: 100%;height: 100%;flex-direction: column; margin-bottom: 30px;
}
.frase{
  display: flex;flex-direction: column; padding-top:580px;
}
.botoes{
  display: flex;flex-direction: row;justify-content: space-between;margin-top: 20px;align-items: center
}
.input{
  border: none;width: 279px;height: 38px;border-radius: 15px;
}
.voice{
  position: absolute;left: 370px;top: 795px;font-size: 16px;
}
