<body>

  <main>
    <div style="padding: 10px;">

      <div class="frase">
        <div style="display: flex;">
          <img src="Group 10.png" alt="">
          <p style="color: #FFFF;">SYLVIA.IA</p>
        </div>
        <p style="color: #FFFF;">
          OLÁ, sou o Salvy e estou aqui para te ajudar na sua aventura de descobertas pelo mundo da botanica e jardinagem! Comece com alguma imagem de planta para indentificação ou me pergunte algo
        </p>
      </div>

        <div class="botoes">
          <img style="width: auto;height: auto;" src="Group 1.png" alt="">
          <img src="photo-camera-svgrepo-com 1.png" alt="">
          <input placeholder="Message" class="input" type="text">
          <img class="voice" src="voice-recording_73825 1.png" alt="">
        </div>
    </div>
  </main>
</body>
<app-footer></app-footer>
