<body style="font-family: 'MyFont';">
  <main>

    <div class="container">
      <div class="caixa">
      <p class="login">Login</p>
      <div class="inputs">
        <input placeholder="Email" class="input1" type="text">
        <input placeholder="Senha" class="input2" type="text">
        <a routerLink="/criar" style="width: 110px;" href=""><p style="margin:0px;color: #FFFF;padding: 10px;">Criar  Conta</p></a>
      </div>
      <button routerLink="/perfil"class="button"><p>Entrar</p></button>
      </div>
    </div>

  </main>
</body>
<app-footer></app-footer>
