<main>
  <div style="display: flex; justify-content: center;align-items: center;justify-content: space-between; padding: 35px;">
    <p style="border-radius: 12px;padding:10px;color: white;font-size: 20px;background-color:#A1C130 ;">MarketPlace</p>
    <div style="display: flex;flex-direction: row;" >
      <button style="display: flex;justify-content: center;align-items: center; width: 67px;height: 65px; background-color: #DC4200;border: none;border-radius: 24px;box-shadow:10px 5px 5px rgba(0, 0, 255, .2)"><img src="Icon (2).png" alt=""></button>
      <button style="display: flex;justify-content: center;align-items: center;width: 67px;height: 65px; margin-left:30px; background-color:#A1C130 ;border: none;border-radius: 24px;box-shadow:10px 5px 5px rgba(0, 0, 255, .2)"><img src="Group 31.png" alt=""></button>

    </div>
  </div>
  <div style="display: flex;justify-content: center;margin-left: 10px;">
    <img style="width: 380px;" src="Group 205.png" alt="">
  </div>
  <div style="display: flex;">
    <button style="display: flex;justify-content: center;align-items: center;width: 67px;height: 65px; margin-left:30px; background-color:#DC9100 ;border: none;border-radius: 24px;box-shadow:10px 5px 5px rgba(0, 0, 255, .2)"><img src="3854169 1.png" alt=""></button>
    <button style="display: flex;justify-content: center;align-items: center;width: 67px;height: 65px; margin-left:30px; background-color:#DC9100 ;border: none;border-radius: 24px;box-shadow:10px 5px 5px rgba(0, 0, 255, .2)"><img src="1618977 1.png" alt=""></button>
    <button style="display: flex;justify-content: center;align-items: center;width: 67px;height: 65px; margin-left:30px; background-color:#DC9100 ;border: none;border-radius: 24px;box-shadow:10px 5px 5px rgba(0, 0, 255, .2)"><img src="9421991 1.png" alt=""></button>
    <button style="display: flex;justify-content: center;align-items: center;width: 67px;height: 65px; margin-left:30px; background-color:#DC9100 ;border: none;border-radius: 24px;box-shadow:10px 5px 5px rgba(0, 0, 255, .2)"><img src="16964001 1.png" alt=""></button>
  </div>
</main>
