<main>
  <div style="display: flex; justify-content: center;align-items: center;justify-content: space-between; padding: 35px;">
    <p style="border-radius: 12px;padding:10px;color: white;font-size: 20px;background-color:#A1C130 ;">MarketPlace</p>
    <div style="display: flex;flex-direction: row;" >
      <button style="display: flex;justify-content: center;align-items: center; width: 67px;height: 65px; background-color: #DC4200;border: none;border-radius: 24px;box-shadow:10px 5px 5px rgba(0, 0, 255, .2)"><img src="Icon (2).png" alt=""></button>
      <button style="display: flex;justify-content: center;align-items: center;width: 67px;height: 65px; margin-left:30px; background-color:#A1C130 ;border: none;border-radius: 24px;box-shadow:10px 5px 5px rgba(0, 0, 255, .2)"><img src="Group 31.png" alt=""></button>

    </div>
  </div>
  <div style="display: flex;justify-content: center;margin-left: 10px;">

    <img style="width: 380px;flex-direction: row;flex-direction: row" src="Group 205.png" alt="">
  </div>
  <div style="display: flex;margin-top: 20px;">



    <div style="flex-direction: column;display: flex;justify-content: center;align-items: center;width: 100px;height: 100px; margin-left:40px; background-color:#DC9100 ;border: none;border-radius: 24px;box-shadow:10px 5px 5px rgba(0, 0, 255, .2)">
      <img style="width: 50px; height: 50px;" src="3854169 1.png" alt="">
      <p style="color: white; height: 0;font-size: 16px; margin-top: 10px;">Temperos</p>
    </div>

    <div style="flex-direction: column;display: flex;justify-content: center;align-items: center;width: 100px;height: 100px; margin-left:30px; background-color:#DC9100 ;border: none;border-radius: 24px;box-shadow:10px 5px 5px rgba(0, 0, 255, .2)">
      <img style="width: 50px; height: 50px;" src="1618977 1.png" alt="">
      <p style="color: white;height: 0;font-size: 16px; margin-top: 10px;">Chás</p>
    </div>
    <div style="flex-direction: column;display: flex;justify-content: center;align-items: center;width: 100px;height: 100px; margin-left:30px; background-color:#DC9100 ;border: none;border-radius: 24px;box-shadow:10px 5px 5px rgba(0, 0, 255, .2)">
      <img style="width: 50px; height: 50px;" src="9421991 1.png" alt="">
      <p style="color: white;height: 0;font-size: 16px; margin-top: 10px;">Mudas</p>
    </div>
  </div>

  <div>
    <div style="display: flex;margin-left: 35px;margin-top: 20px;;width:114px ;">
      <p style="border-radius: 12px;padding:10px;color: white;font-size: 20px;background-color:#A1C130 ;">Produtos</p>
    </div>
    <div style="display: flex; margin-left: 30px;">
      <img style="display:inline-block;margin-top: 23px" src="Rectangle 64.png" alt="">
      <img style="position: absolute; margin-left: 20px;" src="Subtract.png" alt="">
    
      <div style="display: flex;flex-direction: row;align-items: center;">
      <div style="position: absolute; top: 760px;right: 320px; ">
        <p style="font-weight: bold;font-size: 20px; margin: 0;color: white;">Lorem</p>
        <p style="font-size: 16px;margin: 0;color: white;">R$10</p>
      </div>
    </div>
  </div>
    <img style="position: absolute;left: 160px;bottom: 129px;" src="16019775 1.png" alt="">
  </div>
</main>
