
<main>
  <header>
    <p class="marketplacetext">MarketPlace</p>
    <div class="botoes" >
      <button routerLink="/favoritos" class="favoritos"><img src="Icon (2).png" alt=""></button>
      <button routerLink="/carrinho" class="carrinho"><img src="Group 31.png" alt=""></button>

    </div>
  </header>

  <div class="image">
    <img class="imagefoto" src="Group 205.png" alt="">
  </div>

  <div class="categorias">
    <button routerLink="/listatemperos" class="botao1">
      <img class="categoriaimg" src="3854169 1.png" alt="">
      <p class="categoriatext">Temperos</p>
    </button>

    <button routerLink="/listachas" class="botao2">
      <img class="categoriaimg" src="1618977 1.png" alt="">
      <p class="categoriatext">Chás</p>
    </button>
    <button routerLink="/listamudas" class="botao2">
      <img class="categoriaimg" src="9421991 1.png" alt="">
      <p class="categoriatext">Mudas</p>
    </button>
  </div>



  <div>
    <div class="Produtos">
      <p class="produtostext">Produtos</p>
    </div>
    <app-card></app-card>
  </div>

</main>


<app-footer></app-footer>
