<body style="font-family: 'MyFont';">
  <main>

    <div class="container">
      <div class="caixa">
      <p class="login">Login</p>
      <div class="inputs">
        <input placeholder="Email" class="input1" type="text">
        <input placeholder="Senha" class="input2" type="text">
        <input placeholder="Telefone" class="input1" type="text">
        <input placeholder="CPF" class="input2" type="text">
        <input placeholder="CEP" class="input2" type="text">

      </div>
      <div class="inputpeqno">

        <input placeholder="Mês" class="input3" type="text">

        <input placeholder="Dia" class="input3" type="text">
        <input placeholder="Ano" class="input3" type="text">
      </div>
      <button routerLink="/login" class=""><p>Criar</p></button>
      </div>
    </div>

  </main>
</body>
<app-footer></app-footer>
