.botao{
  display: flex;flex-direction: column;box-shadow:10px 5px 5px rgba(0, 0, 255, .2);border-radius: 24px;padding: 0px;border: none;
}
.card{
  width:150.19px ;height:162px ;background-color: #EEEEEE;border-radius: 24px 24px 0px 0px;
}
.partlaj{
  display: flex;flex-direction: row; width:150.19px ;height:46.09px ;background-color: #DC9100;border-radius: 0px 0px 24px 24px;align-items: center;
}
.texto{
  display: flex;flex-direction: column;padding: 10px;
}
.titulo{
  font-size: 12px; margin: 0px;font-weight: bold;color: #C1D8BD;
}
.nome{
  font-size: 12px;margin: 0px;font-weight: bold;color: #FFFFFF;
}
.preco{
  font: 14px; margin-left: 05px;color: #80FF6B;
}
