<header>
  <div style="display: flex;justify-content: space-between;align-items: center; padding: 30px;">
    <button routerLink="/marketplace"  style="display: flex;justify-content: center;align-items: center; width: 63px;height: 63px;border-radius: 100%;background-color:#DC9100 ;border: none;"><img src="Arrow 2.png" alt=""></button>
    <button style="display: flex;justify-content: center;align-items: center; width: 67px;height: 65px; background-color: #DC4200;border: none;border-radius: 100%;box-shadow:10px 5px 5px rgba(0, 0, 255, .2)"><img src="Icon (2).png" alt=""></button>
  </div>
</header>
  <main style="font-family:'MyFont';">


      <div style="display: flex;display:flex;position: relative;justify-content: center;align-items: center;top: 250px;">
        <img style="position: absolute;top: -190px;" src="alface.png" alt="">
        <img src="Ellipse 70.png" alt="">
      </div>
      <app-titcad></app-titcad>


</main>


<app-footer></app-footer>

