header{
  display: flex;justify-content: space-between;align-items: center; padding: 30px;
}
.botao{
  display: flex;justify-content: center;align-items: center; width: 63px;height: 63px;border-radius: 100%;background-color:#DC9100 ;border: none;
}
.titulo{
  border-radius: 12px;padding:10px;color: white;font-size: 20px;background-color:#A1C130 ;
}
.card{
  display: flex;justify-content: space-around
}
.botaopagar{
  display: flex;justify-content: center;margin-top: 400px;
}
.pagar{
  width: 204px;height: 73px;background-color: #DC9100;border: none;border-radius: 151px;
}
.pagartext{
  font-weight: bold;color: #FFFFFF;font-size: 20px;
}
