<div style="max-width:100vh; display: flex;flex-direction: column; margin-top: 10px; padding: 24px ; align-items: center;">
  <div style="height: 700px;background-color: #A1C130; border-radius: 24px;">
    <div style='font-size: 24px; padding: 24px;font-weight:bold; color:white'>
      <p>Para tocar o inacessível chão
        é necessario a imensurável compreensão</p>
    </div>
    <img  style=" width: auto;height: auto; position:absolute; margin-left:20px" src="Group 37.png" alt="">
    <img  style=" position:absolute; margin-left: 85px; margin-top:520px ; " src="Ellipse 62.png" alt="">
    <img  style="position:relative;margin-left: 150px ; margin-top: 80px;"src="shine-sansevieria-plant-in-orange-pot 1.png" alt="">
  </div>
  <div style=" display: flex; margin-top: 65px;">
   <button routerLink="/marketplace" style="width: 150px;height: 73px;border-radius: 24px;background-color: #DC9100; border:none;box-shadow:10px 5px 5px rgba(0, 0, 255, .2)">
    <p style="font-size:18px; font-weight: bold;color: white;">Marketplace</p>
   </button >
   <button style="width: 150px;height: 73px;border-radius: 24px;background-color: #DC9100; border:none;margin-left: 80px; box-shadow:10px 5px 5px rgba(0, 0, 255, .2)">
    <p style="font-size:18px; font-weight: bold;color: white;">ChatBot</p>
   </button>
  </div>
</div>
