<main>
<div class="tudo">
  <div class="Caixa">
    <div class="texto">
      <p>Para tocar o inacessível chão
        é necessario a imensurável compreensão</p>
    </div>
    <img  class="janela" src="Group 37.png" alt="">
    <img  class="planta" src="Ellipse 62.png" alt="">
    <img  class="chao" src="shine-sansevieria-plant-in-orange-pot 1.png" alt="">
  </div>

  <div class="botoes">

<div>
   <button routerLink="/marketplace" class="botao1">
    <p class="botaotexto">Marketplace</p>
   </button >
</div>

  <div>
   <button class="botao2">
    <p class="botaotexto">ChatBot</p>
   </button>
  </div>

</div>

</div>
</main>
